.wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.inputSpan {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: rgb(228, 105, 105);
}

.js-input {
  border: solid 3px green;
  border-radius: 3px;
  outline: none;
}

.js-invalidInput {
  border: solid 3px red;
  border-radius: 3px;
}

.js-span {
  display: flex;
  justify-content: space-between;
  border: solid 1px grey;
  border-radius: 40px;
  padding: 5px;
  font-size: 16px;
}

.js-remove {
  border-color: black;
  border-radius: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
